<mat-sidenav-container class="app-layout" autosize>
  <mat-sidenav
    class="app-layout__sidenav"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="((isHandset$ | async) ?? false) ? ((mobileSidebarOpen$ | async) ?? false) : true"
    (closedStart)="onSidenavClosed()"
  >
    <app-sidebar (navigate)="onSidebarNavigate()"></app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content class="app-layout__content">
    <app-topbar [showMenu]="(isHandset$ | async) ?? false" (menuToggle)="onMenuToggle()"></app-topbar>
    <main class="page-content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
